global
  log /dev/log local0
  log /dev/log local1 notice

defaults
  mode http
  log global
  option httplog
  option dontlognull
  timeout connect 5s
  timeout client 50s
  timeout server 50s

frontend swarm_http
  bind *:80
{% for route in haproxy_http_routes | default([]) %}
  acl host_{{ route.name | replace('-', '_') }} hdr(host) -i {{ route.host }}
{% if route.path_prefix is defined %}
  acl path_{{ route.name | replace('-', '_') }} path_beg {{ route.path_prefix }}
  use_backend {{ route.name }}_backend if host_{{ route.name | replace('-', '_') }} path_{{ route.name | replace('-', '_') }}
{% else %}
  use_backend {{ route.name }}_backend if host_{{ route.name | replace('-', '_') }}
{% endif %}
{% endfor %}
  default_backend swarm_http_nodes

backend swarm_http_nodes
  balance roundrobin
{% for host in groups['workers'] %}
  server {{ host }} {{ hostvars[host].ansible_host }}:80 check
{% endfor %}

{% for route in haproxy_http_routes | default([]) %}
backend {{ route.name }}_backend
  balance roundrobin
{% for host in groups['workers'] %}
  server {{ host }} {{ hostvars[host].ansible_host }}:{{ route.backend_port }} check
{% endfor %}

{% endfor %}

frontend swarm_managers
  bind *:2377
  mode tcp
  default_backend swarm_managers_nodes

backend swarm_managers_nodes
  mode tcp
  balance roundrobin
{% for host in groups['managers'] %}
  server {{ host }} {{ hostvars[host].ansible_host }}:2377 check
{% endfor %}

listen haproxy_stats
  bind {{ ansible_host }}:{{ haproxy_stats_port }}
  mode http
  stats enable
  stats uri {{ haproxy_stats_uri }}
  stats refresh 10s
  stats show-node
  stats show-legends
  stats realm HAProxy\ Statistics
  stats auth {{ haproxy_stats_user }}:{{ haproxy_stats_password }}
